@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  /* width: 1350px; */
  width: 71%;
  margin: auto;
  font-family: Fira Sans;
  background-color: #f5f5f5;
}
/* hero section  */
#hero-section {
  border-radius: 24px;
  background: rgb(198, 228, 214);
  padding: 80px 100px;
  /* height: 560px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
#hero-section .hero-subtitle {
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
#hero-section .hero-title {
  color: rgb(14, 14, 14);
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  margin: 16px 0 24px 0;
}
#hero-section .hero-btn {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  padding: 20px 34px;
  border: none;
}

/* future section  */
#future-section,
#news-section,
#donate-section,
#subscribe-section {
  margin-top: 80px;
}

#future-section .future-section-title,
#news-section .news-section-title,
#donate-section .donate-section-title,
#subscribe-section .subscribe-section-title {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
#future-section .future-section-subtitle,
#news-section .news-section-subtitle,
#donate-section .donate-section-subtitle,
#subscribe-section .subscribe-section-subtitle {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 24px 0 32px 0;
}

#future-section .card-group {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}
#future-section .card {
  padding: 32px;
}
#future-section .card1 {
  box-sizing: border-box;
  border-radius: 16px;
  background: rgba(84, 144, 245, 0.2);
}
#future-section .card2 {
  box-sizing: border-box;
  border-radius: 16px;
  background: rgb(198, 228, 214);
}
#future-section .card3 {
  box-sizing: border-box;
  border-radius: 16px;
  background: rgb(247, 235, 207);
}
#future-section .card-title {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 25px 0 12px;
}
#future-section .card-details {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 45px;
}
#future-section .card-btn {
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 19px;
  border: none;
  padding: 10px 20px;
}
#future-section .card1-btn {
  border-radius: 8px;
  background: rgb(84, 144, 245);
}
#future-section .card2-btn {
  border-radius: 8px;
  background: rgb(9, 161, 92);
}
#future-section .card3-btn {
  border-radius: 8px;
  background: rgb(255, 194, 57);
}
/* Quote  */
#future-section .quote {
  padding: 48px 20px;
  background: #fff;
  background-image: url("../assets/quote-bg.png");
  background-repeat: no-repeat;
  /* background-position: right; */
  background-position: 20px 30px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
}
#future-section .quote .quote-text {
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#future-section .quote .author {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
#future-section .quote .designation {
  color: rgba(14, 14, 14, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* news section  */

/* #news-section .news-section-title {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
#news-section .news-section-subtitle {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
} */

#news-section .news-container {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
#news-section .news-content-container {
  background-color: #fff;
  border-radius: 24px;
  padding: 56px 48px;
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}
#news-section .news-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
#news-section .date-time {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#news-section .news-details {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 12px 0 32px 0;
}
#news-section .news-btn {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding: 13px 26px;
  border: none;
  border-radius: 8px;
  background: rgb(0, 106, 80);
}
#news-section .second-news {
  flex-direction: row-reverse;
}

/* donate today section  */
#donate-section .amount-section {
  display: flex;
  gap: 24px;
  margin: 32px 0;
  justify-content: center;
}
#donate-section .amount-section p {
  color: rgba(14, 14, 14, 0.8);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  padding: 40px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
}
#donate-section .amount-section .active {
  background: rgb(198, 228, 214);
}
#donate-section .amount-data {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  width: 75%;
  margin: auto;
}
#donate-section .amount-data input {
  padding: 20px;
  border: none;
}
#donate-section .amount-data input::placeholder {
  color: rgba(14, 14, 14, 0.3);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
#donate-section .amount-data .donate-btn {
  background-color: rgb(0, 106, 80);
  padding: 20px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.1);
  border-radius: 8px;
}

/* subscribe section  */
#subscribe-section {
  border-radius: 24px;
  background: rgb(198, 228, 214);
  padding: 80px 100px;
}
#subscribe-section .subscribe-section-email-info {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 25px;
  flex-direction: column;
}
#subscribe-section .subscribe-section-email-info p {
  text-align: center;
}
#subscribe-section .subscribe-section-email-info p > input {
  width: 60%;
  padding: 20px 40px;
  border: none;
  border-radius: 8px 0px 0px 8px;
}
#subscribe-section .subscribe-section-email-info p > input::placeholder {
  color: rgba(14, 14, 14, 0.3);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
#subscribe-section .subscribe-section-email-info .subscribe-btn {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 0px 8px 8px 0px;
  background: rgb(0, 106, 80);
  padding: 17px 34px;
  border: none;
  margin-left: -3px;
}

#subscribe-section .subscribe-section-email-info .message {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
